@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 500 700;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf")
        format("truetype");
    font-style: italic;
    font-weight: 500 700;
}

:root {
    /* Colors */
    --color-lime: hsl(61, 70%, 52%);
    --color-red: hsl(4, 69%, 50%);
    --color-white: hsl(0, 0%, 100%);
    --color-slate-100: hsl(202, 86%, 94%);
    --color-slate-300: hsl(203, 41%, 72%);
    --color-slate-500: hsl(200, 26%, 54%);
    --color-slate-700: hsl(200, 24%, 40%);
    --color-slate-900: hsl(202, 55%, 16%);

    /* Spacing */
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;

    /* Radius */

    --radius-50: 4px;
    --radius-300: 24px;
    --radius-1000: 80px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
}

h1,
h2,
h3,
p,
button {
    font: inherit;
}

body {
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color-slate-100);
    display: grid;
    place-content: center;
    color: var(--color-slate-700);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
}

.text-preset-1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1px;
}

.text-preset-2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1px;
}

.text-preset-3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1px;
}

.text-preset-4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

.text-preset-5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.flx-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-150);
}

.flx {
    display: flex;
}

.container {
    width: 1008px;
    height: auto;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    /* gap: var(--spacing-500); */
    max-width: 1008px;
    background-color: var(--color-white);
    overflow: hidden;
    border-radius: var(--radius-300);
}

.half {
    width: 50%;
    flex-grow: 1;
}

.first {
    padding: var(--spacing-500);
}

.second {
    display: flex;
    flex-direction: column;
    background-color: var(--color-slate-900);
    border-bottom-left-radius: var(--radius-1000);
}

.inputs {
    gap: var(--spacing-300);
}

.two-inputs {
    gap: var(--spacing-300);
}

.inputs input,
.checkbox {
    width: 100%;
    height: var(--spacing-600);
    border-radius: var(--radius-50);
    border: 1px solid var(--color-slate-500);
    padding: var(--spacing-200);
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        width: auto;
        position: absolute;
        left: 0;
        top: 0;

        /* opacity: 0;
        visibility: hidden; */
    }
}
